<html>
<head>
    <title>Nomi in the House~</title>
        <% include _headCommon %>

</head>
<body>



    <% include _navbar %>
    <%
      if (user.u_accountName == "elaine"){
        %>
        <div class = "postform" align = "center">
          <input id = "title"type="text" class="form-control"  name = "title" placeholder="Title">
          <span class="error"><?php echo $titleErr;?></span>
          <textarea class="form-control" id = "content" name = "text" rows="3" placeholder="Content"></textarea>
          <div align = "center">
          <input type="file" id = "inputbox" name ="image">
          <button type="submit" class="btn btn-warning" name = "postform" id = "postform" value = "pf" align = "right">Post</button>
          </div>
        </div>
    <% }  %>

    <% include _footer %>
    <% include _scripts %>



</body>
</html>