    <%
      if (!user){
        %>
        res.render('anonymous',{

       });        <%
      }
      %>

<html>
<head>
    <title>Nomi in the House~</title>
        <% include _headCommon %>

</head>
<body>



    <% include _navbar %>

    <div class = "container content" align = "center">





    </div>



    <% include _footer %>
    <% include _scripts %>



</body>
</html>